<ion-content [fullscreen]="true" class="ion-padding-horizontal">
<ion-title class="ion-padding top ion-text-center"> 
<ion-label>
  <h2>¡Bienvenido!</h2>
</ion-label>
</ion-title>

<div class="ion-padding-vertical">
  <ion-card-content>
          <ion-label position="floating"> Sobre tí...</ion-label>
      <ion-textarea type="text" [(ngModel)]="dato.escribir" placeholder="Escribe sobre tí">
      </ion-textarea>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button shape="block" (click)="cancelar()" color="dark">Cancelar</ion-button>
          </ion-col>
          <ion-col col-6>
            <ion-button shape="block" (click)="compartir()" color="dark">Compartir</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
</ion-content>
<ion-item>
  <ion-buttons (click)="cerrar()" slot="start">
    <ion-icon name="exit-outline" size="large"></ion-icon>
  </ion-buttons>
</ion-item>


